@use "../../../shared/style/colors" as c;
@use "../../../shared/style/spacings" as s;
@import "../../../shared/style/mixins";

.Board {
  background: c.$black;
  display: flex;
  justify-content: center;
  padding: s.$m;
  gap: s.$m;
}

.Button {
  height: min-content;
  padding: s.$s s.$m;
  font-size: 20px;
  font-weight: 500;
  background: c.$grey-dark;
  border: 2px solid c.$grey-dark;
  color: c.$grey-light;
  cursor: pointer;

  &:hover {
    background: c.$grey-light;
    border-color: c.$grey-light;
    color: c.$grey-dark;
  }

  &:active {
    background: c.$grey;
    border-color: c.$grey-light;
    color: c.$grey-light;
  }
}

.Add {
  width: 25vw;
  background: c.$black;
  border: 2px solid c.$grey;
  height: min-content;
  padding: s.$sm s.$m;
}

.Input {
  width: 100%;
  padding: s.$xs s.$sm;
  font-size: 20px;
  font-weight: 600;
  color: c.$grey-light;
  background: c.$grey-dark;
  border: 2px solid c.$grey;
  outline: 0;
}
